a.sj:hover {
			padding: 40px;
}
div.enter{
			color: black;
			font-family: sans-serif;
			display: inline;
			font-weight: bold;
}
div.enter:hover,img.icon:hover{
			color: red;
			cursor: pointer;
}
div.manga{
	color: grey;
	font-family: sans-serif;
	position: absolute;
	top: 400px;
	left: 10px;
	font-size: 20px;
}
a.footer{
	position: absolute;
	left: 40px;
	color: white;
	font-size: 35px;
	font-family: sans-serif;
	font-weight: bolder;
	text-decoration: none;
}
div.manga:hover,div.manga2:hover,a.footer:hover{
	transition: 0.3s;
	color: red;
	filter: brightness(100%);
}
div.manga2{
	color: black;
	font-family: sans-serif;
	position: absolute;
	top: 430px;
	left: 10px;
	font-size: 20px;
}
div.recommend{
	height: 320px;
	width: 300px;
	background-color: black;
	position: absolute;
	
}
div.recommend:hover{
	background-color: red;
}
